<!DOCTYPE html>
<html>
<head>
    <title>Broker View</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel='stylesheet' href='/bootstrap-3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" media="screen" href="/stylesheets/index.min.css">
    <link rel="stylesheet" media="screen" href="/dataTables/stylesheets/dataTables.bootstrap.css">
    <link rel="stylesheet" media="screen" href="/chartist/stylesheets/chartist.min.css">

    <script src="/chartist/javascripts/chartist.min.js"></script>
</head>
<body role="document">

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <!--  Display three horizontal lines when navbar collapsed. -->
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <img src="/images/favicon.png">
            <a class="navbar-brand un-float-me" href="/">
                Kafka Manager</a><span class="label label-primary">test</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cluster<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/addCluster">Add Cluster</a></li>
                        <li><a href="/clusters/test">Summary</a></li>
                        <li><a href="/">List</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/clusters/test/brokers">Brokers</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topic<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/clusters/test/createTopic">Create</a></li>
                        <li><a href="/clusters/test/topics">List</a></li>
                    </ul>
                </li>
                <li><a href="/clusters/test/leader">Preferred Replica Election</a></li>
                <li><a href="/clusters/test/assignment">Reassign Partitions</a></li>
                <li><a href="/clusters/test/consumers">Consumers</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logkafka<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/clusters/test/logkafkas">List Logkafka</a></li>
                        <li><a href="/clusters/test/createLogkafka">Create Logkafka</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" role="main">
    <ol class="breadcrumb">
        <li><a href="/">Clusters</a></li>
        <li><a href="/clusters/<%= brokerInfo.ClusterName %>"><%= brokerInfo.ClusterName %></a></li>
        <li><a href="/clusters/test/brokers">Brokers</a></li>
        <li class="active"><%= brokerInfo.BroId %></li>
    </ol>

    <div class="col-md-12 un-pad-me">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <button type="button" class="btn btn-link" onclick="goBack()"><span
                                class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                    Broker Id 1
                </h3>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Summary</h4></div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td># of Topics</td>
                                <td><%= brokerInfo.Topics %></td>
                            </tr>
                            <tr>
                                <td># of Partitions</td>
                                <td><%= brokerInfo.Partitions %></td>
                            </tr>

                            <tr>
                                <td>% of Messages</td>
                                <td><%= brokerInfo.Messages %></td>
                            </tr>
                            <tr>
                                <td>% of Incoming</td>
                                <td><%= brokerInfo.Incoming %></td>
                            </tr>
                            <tr>
                                <td>% of Outgoing</td>
                                <td><%= brokerInfo.Outgoing %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Metrics</h4></div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Rate</th>
                                <th>Mean</th>
                                <th>1&nbsp;min</th>
                                <th>5&nbsp;min</th>
                                <th>15&nbsp;min</th>
                            </tr>
                            </thead>

                            <tbody>
                            <!--Dynamic data-->
                            <% for(var i = 0; i < brokerMetric.length; i++) { %>
                            <tr>
                                <td><%= brokerMetric[i].Title %></td>
                                <td><span class="badge"><%= brokerMetric[i].Mean %> </span></td>
                                <td><span class="badge"><%= brokerMetric[i].omin %> </span></td>
                                <td><span class="badge"><%= brokerMetric[i].fmin %> </span></td>
                                <td><span class="badge"><%= brokerMetric[i].tmin %> </span></td>
                            <tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Messages count</h4></div>
                        <div class="ct-chart"></div>
                        <script>
                            var options = {
                                axisY: {
                                    type: Chartist.AutoScaleAxis,
                                    low: -1,
                                   // high: 1,
                                    onlyInteger: true
                                }
                            };

                            var data = {
                                labels: [<%=dataIn[0]%>],
                                //labels: ['09:21:58','09:22:28','09:22:58','09:23:28','09:23:58','09:24:28','09:24:58','09:25:28','09:25:58','09:26:28'],
                                //labels:['09:21:58','09:22:28','09:22:58','09:23:28'],
                                //labels:[1,2,3],
                                series: [
                                    [<%=dataIn[1]%>]
                                ]
                            };
                            new Chartist.Line('.ct-chart', data, options);
                        </script>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Per Topic Detail</h4></div>
                <table class="table" id="broker-table" style="table-layout: fixed; width: 100%">
                    <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Replication</th>
                        <th>Total Partitions</th>
                        <th>Partitions on Broker</th>
                        <th>Partitions</th>
                        <th>Skewed?</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% for(var i = 0; i < topiclistdetail.length; i++) { %>
                    <tr>
                        <td><a href="/clusters/<%= topiclistdetail[i].name %>"><%= topiclistdetail[i].name %></td>
                        <td><%= topiclistdetail[i].replicationlen %></td>
                        <td><%= topiclistdetail[i].partitionslen %></td>
                        <td><%= topiclistdetail[i].paronbro %></td>
                        <td><%= topiclistdetail[i].partitions %></td>
                        <td><%= topiclistdetail[i].skewed %></td>
                    </tr>
                    <% } %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<script src="/jquery-2.1.4/jquery.min.js"></script>
<script src="/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/dataTables/javascripts/jquery.dataTables.min.js"></script>
<script src="/dataTables/javascripts/dataTables.bootstrap.js"></script>

<script>
    function goBack() {
        window.history.back()
    }

    function checkBoxSelect(idPrefix, booleanValue, display) {
        $("[id^=" + idPrefix + "]").prop("checked", booleanValue);
    }

    function selectBySubname(selectId, selectClass, display) {
        var subname = $(selectId).val().toLowerCase();
        $('.' + selectClass).not("[name*='" + subname + "']").css("display", "none");
        $("[class='" + selectClass + "'][name*='" + subname + "']").css("display", display);
        if (subname == "") {
            $('.' + selectClass).css("display", display);
        }
    }

    function disableSubmission() {
        $('[type=submit]').prop('disabled', true);
        $('[type=submit]').removeAttr('type');
    }
</script>

<script ype="text/javascript">
    $(document).ready(function () {
        $('#broker-table').DataTable();
    });
</script>

</body>
</html>

