<%- include('components/header.ejs')%>
<%- include('components/nav.ejs')%>

<body role="document">
<div class="container" role="main">
    <ol class="breadcrumb">
        <li><a href="/">Clusters</a></li>
        <li><a href="/clusters/<%=clustername%>"><%=clustername%></a></li>
        <li class="active">Brokers</li>
    </ol>

    <div class="col-md-7 un-pad-me">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <button type="button" class="btn btn-link" onclick="goBack()">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>
                    Brokers
                </h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Host</td>
                    <td>Port</td>
                    <td>JMX Port</td>
                    <td>Time</td>
                    <td>Version</td>
                </tr>
                </thead>

                <tbody>
                <!--Dynamic data-->

                <%for(var j= 0; j < BrokerList.length; j++) {%>
                <tr>
                    <td><a href="/clusters/<%=clustername%>/brokers/<%=BrokerList[j][0] + 1%>"><%=BrokerList[j][0] + 1%></a></td>
                    <td><%=BrokerList[j][1]%> </td>
                    <td><%=BrokerList[j][2]%> </td>
                    <td><%=BrokerList[j][3]%> </td>
                    <td><%=BrokerList[j][4]%> </td>
                    <td><%=BrokerList[j][5]%> </td>

                    <!--   <td><%BrokerList[j][3]%> </td>
                    <td><%BrokerList[j][3]%> </td>
                    <td><%BrokerList[j][3]%> </td>
                       -->
                </tr>
                <%}%>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-5 un-pad-me">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Combined Metrics</h3></div>

            <table class="table">
                <thead>
                <tr>
                    <th>Rate/sec</th>
                    <th>Mean</th>
                    <th>1&nbsp;min</th>
                    <th>5&nbsp;min</th>
                    <th>15&nbsp;min</th>
                </tr>
                </thead>
                <tbody>
                <% var Ratetitle = ["Messages in", "Bytes in", "Bytes out", "Bytes rejected", "Failed fetch request", "Failed produce request"] %>
                <%for(var i= 0; i < combinedMetrics.length; i++) {%>

                <tr>
                    <td><%= Ratetitle[i] %></td>
                    <td>
                        <% var b_in_mean = '' %>
                        <% if (combinedMetrics[i][0] < 1000) b_in_mean = combinedMetrics[i][0].toFixed(2) %>
                        <% if (combinedMetrics[i][0] >= 1000) b_in_mean = (combinedMetrics[i][0] / 1000).toFixed(1) + 'k' %>
                        <span class="badge"><%= b_in_mean %></span>
                    </td>
                    <td>
                        <% var b_in_1 = '' %>
                        <% if (combinedMetrics[i][1] < 1000) b_in_1 = combinedMetrics[i][1].toFixed(2) %>
                        <% if (combinedMetrics[i][1] >= 1000) b_in_1 = (combinedMetrics[i][1] / 1000).toFixed(1) + 'k' %>
                        <span class="badge"><%= b_in_1 %></span>
                    </td>
                    <td>
                        <% var b_in_10 = '' %>
                        <% if (combinedMetrics[i][2] < 1000) b_in_10 = combinedMetrics[i][2].toFixed(2) %>
                        <% if (combinedMetrics[i][2] >= 1000) b_in_10 = (combinedMetrics[i][2] / 1000).toFixed(1) + 'k' %>
                        <span class="badge"><%= b_in_10 %></span>
                    </td>
                    <td>
                        <% var b_in_15 = '' %>
                        <% if (combinedMetrics[i][3] < 1000) b_in_15 = combinedMetrics[i][3].toFixed(2) %>
                        <% if (combinedMetrics[i][3] >= 1000) b_in_15 = (combinedMetrics[i][3] / 1000).toFixed(1) + 'k' %>
                        <span class="badge"><%= b_in_15 %></span>
                    </td>
                <tr>
                    <%}%>

                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('components/footer.ejs')%>

</body>
</html>

