<%- include('components/header.ejs')%>
<%- include('components/nav.ejs')%>

<body role="document">
<div class="container" role="main">
    <ol class="breadcrumb">
        <li><a href="/">Clusters</a></li>
        <li><a href="/clusters/<%= clustername %>"><%= clustername %></a></li>
        <li><a href="/clusters/<%= clustername %>/brokers">Brokers</a></li>
        <li class="active"><%= brokerlistId %></li>
    </ol>

    <div class="col-md-12 un-pad-me">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <button type="button" class="btn btn-link" onclick="goBack()"><span
                                class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                    Broker Id <%= brokerlistId %>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Summary</h4></div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td># of Topics</td>
                                <td><%= topiclistdetail[0] %></td>
                            </tr>
                            <tr>
                                <td># of Partitions</td>
                                <td><%= topiclistdetail[1] %></td>
                            </tr>

                            <tr>
                                <td>% of Messages</td>
                                <td><%= (100 * brokerMetric[0][0] / InOutMessage[0][0]).toFixed(2) %>%</td>
                            </tr>
                            <tr>
                                <td>% of Incoming</td>
                                <td><%= (100 * brokerMetric[1][0] / InOutMessage[1][0]).toFixed(2) %>%</td>
                            </tr>
                            <tr>
                                <td>% of Outgoing</td>
                                <td><%= (100 * brokerMetric[2][0] / InOutMessage[2][0]).toFixed(2) %>%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Metrics</h4></div>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Rate/sec</th>
                                <th>Mean</th>
                                <th>1&nbsp;min</th>
                                <th>5&nbsp;min</th>
                                <th>15&nbsp;min</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--Dynamic data-->
                            <% var Ratetitle = ["Messages in", "Bytes in", "Bytes out", "Bytes rejected", "Failed fetch request", "Failed produce request"] %>
                            <% for(var i = 0; i < 6; i++) { %>

                            <tr>
                                <td><%= Ratetitle[i] %></td>
                                <td>
                                    <% var b_in_mean = '' %>
                                    <% if (brokerMetric[i][0] < 1000) b_in_mean = brokerMetric[i][0].toFixed(2) %>
                                    <% if (brokerMetric[i][0] >= 1000) b_in_mean = (brokerMetric[i][0] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_in_mean %></span>
                                </td>
                                <td>
                                    <% var b_in_1 = '' %>
                                    <% if (brokerMetric[i][1] < 1000) b_in_1 = brokerMetric[i][1].toFixed(2) %>
                                    <% if (brokerMetric[i][1] >= 1000) b_in_1 = (brokerMetric[i][1] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_in_1 %></span>
                                </td>
                                <td>
                                    <% var b_in_10 = '' %>
                                    <% if (brokerMetric[i][2] < 1000) b_in_10 = brokerMetric[i][2].toFixed(2) %>
                                    <% if (brokerMetric[i][2] >= 1000) b_in_10 = (brokerMetric[i][2] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_in_10 %></span>
                                </td>
                                <td>
                                    <% var b_in_15 = '' %>
                                    <% if (brokerMetric[i][3] < 1000) b_in_15 = brokerMetric[i][3].toFixed(2) %>
                                    <% if (brokerMetric[i][3] >= 1000) b_in_15 = (brokerMetric[i][3] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_in_15 %></span>
                                </td>
                            <tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Per Topic Detail</h4></div>
                <table class="table" id="broker-table" style="table-layout: fixed; width: 100%">
                    <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Replication</th>
                        <th>Total Partitions</th>
                        <th>Partitions on Broker</th>
                        <th>Partitions</th>
                        <th>Skewed?</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% for(var i = 2; i < topiclistdetail.length; i++) { %>
                    <% if (topiclistdetail[i].partitions.length !== 0) { %>
                    <!-- 传进来的有空值，会在界面显示空行，排除这种情况-->
                    <tr>
                        <td><a href="/clusters/<%=clustername%>/topics/<%= topiclistdetail[i].name %>"
                               style="word-wrap: break-word"/><%= topiclistdetail[i].name %></td>
                        <td style="word-wrap: break-word"><%= topiclistdetail[i].replicationlen %></td>
                        <td style="word-wrap: break-word"><%= topiclistdetail[i].partitionslen %></td>
                        <td style="word-wrap: break-word"><%= topiclistdetail[i].paronbro %></td>
                        <td style="word-wrap: break-word"><%= topiclistdetail[i].partitions %></td>
                        <td style="word-wrap: break-word"><%= topiclistdetail[i].skewed %></td>
                    </tr>
                    <% } %>
                    <% } %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<%- include('components/footer.ejs')%>

<script ype="text/javascript">
    $(document).ready(function () {
        $('#broker-table').DataTable();
    });
</script>

</body>
</html>

