<%- include('components/header.ejs')%>

<body role="document">
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/images/favicon.png">
            <a class="navbar-brand un-float-me" href="/">Kafka Manager</a>
        </div>
    </div>
</nav>

<div class="container" role="main">
    <ol class="breadcrumb">
        <li><a href="/">Clusters</a></li>
        <li class="active"><%= title %></li>
    </ol>
    <div class="col-md-6 un-pad-me">
        <div class="panel panel-default">
            <div class="panel-heading"><h3><%= title %></h3></div>

            <div class="alert alert-success" role="alert">Done!</div>
            <% if(title == "Disable Cluster" || title == "Enable Cluster" || title == "Delete Cluster") { %>
            <div class="alert alert-info" role="alert">
                <a href="/">Go to cluster list.</a>
            </div>
            <% } else { %>
            <div class="alert alert-info" role="alert">
                <a href="/clusters/<%= clustername %>">Go to cluster view.</a>
            </div>
            <% } %>
        </div>
    </div>


</div>

<%- include('components/footer.ejs')%>

</body>
</html>

