<!DOCTYPE html>
<html>
<head>
    <title>Consumer List</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel='stylesheet' href='/bootstrap-3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" media="screen" href="/stylesheets/index.min.css">
    <link rel="stylesheet" media="screen"
          href="/dataTables/stylesheets/dataTables.bootstrap.css">
    <link rel="stylesheet" media="screen"
          href="/chartist/stylesheets/chartist.min.css">
    <script src="/chartist/javascripts/chartist.min.js"></script>
</head>
<body role="document">

<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <img src="/images/favicon.png">
            <a class="navbar-brand un-float-me" href="/">
                Kafka Manager</a><span class="label label-primary"><%= clustername %></span>
        </div>


        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cluster<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/addCluster">Add Cluster</a></li>
                        <li><a href="/clusters/<%= clustername %>">Summary</a></li>
                        <li><a href="/">List</a></li>
                    </ul>
                </li>
                <li class=""><a href="/clusters/<%= clustername %>/brokers">Brokers</a></li>
                <li class="dropdown">
                    <a href="/clusters/test/topics" class="dropdown-toggle" data-toggle="dropdown">Topic<span
                                class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/clusters/<%= clustername %>/createTopic">Create</a></li>
                        <li><a href="/clusters/<%= clustername %>/topics">List</a></li>
                    </ul>
                </li>
                <li><a href="/clusters/<%= clustername %>/leader">Preferred Replica Election</a></li>
                <li><a href="/clusters/<%= clustername %>/assignment">Reassign Partitions</a></li>
                <li class="active"><a href="/clusters/<%= clustername %>/consumers">Consumers</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logkafka<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/clusters/<%= clustername %>/logkafkas">List Logkafka</a></li>
                        <li><a href="/clusters/<%= clustername %>/createLogkafka">Create Logkafka</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container" role="main">
    <ol class="breadcrumb">
        <li><a href="/">Clusters</a></li>
        <li><a href="/clusters/<%= clustername %>"><%= clustername %></a></li>
        <li class="active">Consumers</li>
    </ol>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Consumers</h3></div>
            <table class="table" id="consumer-table">
                <thead>
                <tr>
                    <th>Consumer</th>
                    <th>Type</th>
                    <th>Topics it consumes from</th>
                </tr>
                </thead>

                <tbody>
                <% for (var i = 0; i < allconsumeInfo.length; i++) { %>
                <tr>
                    <!--<td>-->
                        <!--<a href="/clusters/<% clustername %>/consumers/<% allconsumeInfo[i][0] %>/type/ZK"><% allconsumeInfo[i][0] %></a>-->
                    <!--</td>-->
                    <td>
                        <%= allconsumeInfo[i][0] %>
                    </td>
                    <td>ZK</td>
                    <% if (allconsumeInfo[i][2].length > 1) { %>
                    <td>
                        <% for (var j = 0; j < allconsumeInfo[i][2].length; j++) { %>
                        <a href="/clusters/<%= clustername %>/consumers/<%= allconsumeInfo[i][0] %>/topic/<%= allconsumeInfo[i][2][j] %>/type/ZK"><%= allconsumeInfo[i][2][j] %></a>
                        <br>
                        <% } %>
                    </td>
                    <% } else { %>
                    <td>
                        <a href="/clusters/<%= clustername %>/consumers/<%= allconsumeInfo[i][0] %>/topic/<%= allconsumeInfo[i][2][0] %>/type/ZK"><%= allconsumeInfo[i][2][0] %></a>
                    </td>
                    <% } %>
                </tr>
                <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/jquery-2.1.4/jquery.min.js"></script>
<script src="/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/dataTables/javascripts/jquery.dataTables.min.js"></script>
<script src="/dataTables/javascripts/dataTables.bootstrap.js"></script>

<script>
    function goBack() {
        window.history.back()
    }

    function checkBoxSelect(idPrefix, booleanValue, display) {
        $("[id^=" + idPrefix + "]").prop("checked", booleanValue);
    }

    function selectBySubname(selectId, selectClass, display) {
        var subname = $(selectId).val().toLowerCase();
        $('.' + selectClass).not("[name*='" + subname + "']").css("display", "none");
        $("[class='" + selectClass + "'][name*='" + subname + "']").css("display", display);
        if (subname == "") {
            $('.' + selectClass).css("display", display);
        }
    }

    function disableSubmission() {
        $('[type=submit]').prop('disabled', true);
        $('[type=submit]').removeAttr('type');
    }
</script>

<script ype="text/javascript">
    $(document).ready(function () {
        $('#consumer-table').DataTable();
    });
</script>

</body>
</html>

