<%- include('components/header.ejs')%>
<%- include('components/nav.ejs')%>
<body role="document">
<div class="container" role="main">
    <ol class="breadcrumb">
        <li><a href="/">Clusters</a></li>
        <li><a href="/clusters/<%= clustername %>"><%= clustername %></a></li>
        <li><a href="/clusters/<%= clustername %>/consumers">Consumers</a></li>
        <li><a href="/clusters/<%= clustername %>/consumers/<%= consumergp %>/type/ZK"><%= consumergp %></a></li>
        <li class="active">test</li>
    </ol>
    <div class="col-md-12 un-pad-me">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <button type="button" class="btn btn-link" onclick="goBack()"><span
                                class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                    <%= consumergp %> / <%= consumerTopic %>
                </h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Topic Summary</h4></div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Total Lag</td>

                                <td><%=totalLag%></td>
                            </tr>
                            <tr>
                                <td>% of Partitions assigned to a consumer instance</td>
                                <td class="danger"><%=percentage%></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4><a
                                        href="/clusters/<%= clustername %>/topics/<%= consumerTopic %>"><%= consumerTopic %></a>
                            </h4></div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Partition</th>
                                <th>LogSize</th>
                                <th>Consumer Offset</th>
                                <th>Lag</th>
                                <th>Consumer Instance Owner</th>
                            </tr>
                            </thead>

                            <tbody>
                            <% for (var i = 0; i < allInfo.length; i++) { %>
                            <tr>
                                <td><%= allInfo[i][0] %></td>
                                <td><%= allInfo[i][1] %></td>
                                <td><%= allInfo[i][2] %></td>
                                <td><%= allInfo[i][3] %></td>
                                <td class="warning"><%= allInfo[i][4] %></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('components/footer.ejs')%>

</body>
</html>


