<%- include('components/header.ejs')%>
<%- include('components/nav.ejs')%>

<body role="document">
<div class="container" role="main">
    <ol class="breadcrumb">
        <li><a href="/">Clusters</a></li>
        <li><a href="/clusters/<%= clustername %>"><%= clustername %></a></li>
        <li class="active">Consumers</li>
    </ol>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Consumers</h3></div>
            <table class="table" id="consumer-table">
                <thead>
                <tr>
                    <th>Consumer</th>
                    <th>Type</th>
                    <th>Topics it consumes from</th>
                </tr>
                </thead>

                <tbody>
                <% for (var i = 0; i < allconsumeInfo.length; i++) { %>
                <tr>
                    <!--<td>-->
                        <!--<a href="/clusters/<% clustername %>/consumers/<% allconsumeInfo[i][0] %>/type/ZK"><% allconsumeInfo[i][0] %></a>-->
                    <!--</td>-->
                    <td>
                        <%= allconsumeInfo[i][0] %>
                    </td>
                    <td>ZK</td>
                    <% if (allconsumeInfo[i][2].length > 1) { %>
                    <td>
                        <% for (var j = 0; j < allconsumeInfo[i][2].length; j++) { %>
                        <a href="/clusters/<%= clustername %>/consumers/<%= allconsumeInfo[i][0] %>/topic/<%= allconsumeInfo[i][2][j] %>/type/ZK"><%= allconsumeInfo[i][2][j] %></a>
                        <br>
                        <% } %>
                    </td>
                    <% } else { %>
                    <td>
                        <a href="/clusters/<%= clustername %>/consumers/<%= allconsumeInfo[i][0] %>/topic/<%= allconsumeInfo[i][2][0] %>/type/ZK"><%= allconsumeInfo[i][2][0] %></a>
                    </td>
                    <% } %>
                </tr>
                <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('components/footer.ejs')%>

<script type="text/javascript">
    $(document).ready(function () {
        $('#consumer-table').DataTable();
    });
</script>

</body>
</html>

