<!DOCTYPE html>
<html>
<head>

    <title>Kafka Manager</title>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" media="screen" href="/stylesheets/index.min.css">
    <link rel='stylesheet' href='/bootstrap-3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" media="screen" href="/dataTables/stylesheets/dataTables.bootstrap.css">
    <link rel="stylesheet" media="screen" href="/chartist/stylesheets/chartist.min.css">

    <script src="/chartist/javascripts/chartist.min.js"></script>
    <script src="/jquery-2.1.4/jquery.min.js"></script>
    <script src="/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="/dataTables/javascripts/jquery.dataTables.min.js"></script>
    <script src="/dataTables/javascripts/dataTables.bootstrap.js"></script>

</head>
<body role="document">

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/images/favicon.png">
            <a class="navbar-brand un-float-me" href="/">Kafka Manager</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cluster<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/addCluster">Add Cluster</a></li>
                        <li class="active"><a href="/">List</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" role="main">
    <ol class="breadcrumb">
        <li class="active">Clusters</li>
    </ol>
    <div class="col-md-6 un-pad-me">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Clusters</h3></div>
            <table class="table">
                <thead>
                <tr>
                    <th>Active</th>
                    <th>Operations</th>
                    <th>Version</th>
                </tr>
                </thead>
                <tbody>

                <!--Dynamic data-->
                <%for(var i= 0; i < clusters.length; i++) {%>
                <tr>
                    <td>
                        <a href="/clusters/<%=clusters[i].name%>"><%=clusters[i].name%></a>
                    </td>
                    <td>
                        <div class="btn-group-horizontal" role="group" aria-label="...">
                            <a href="/updateCluster?c=<%=clusters[i].name%>" class="btn btn-default ops-button" role="button">Modify</a>
                            <form action="/clusters/<%=clusters[i].name%>" method="POST" class="form-vertical " role="form">
                                <input type="hidden" name="name" value="<%=clusters[i].name%>">
                                <input type="hidden" name="kafkaVersion" value="<%=clusters[i].kafkaVersion%>">
                                <input type="hidden" name="zkHosts" value="<%=clusters[i].zkHosts%>">
                                <input type="hidden" name="operation" value="<%=clusters[i].operation%>">
                                <div class="form-group  ">
                                    <button type="submit" class="btn btn-warning ops-button"> Disable</button>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td>
                        <%=clusters[i].kafkaVersion%>
                    </td>
                </tr>
                <%}%>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

      function goBack() {
        window.history.back()
    }

    function checkBoxSelect(idPrefix, booleanValue, display) {
        $("[id^=" + idPrefix + "]").prop("checked", booleanValue);
    }

    function selectBySubname(selectId, selectClass, display) {
        var subname = $(selectId).val().toLowerCase();
        $('.' + selectClass).not("[name*='" + subname + "']").css("display", "none");
        $("[class='" + selectClass + "'][name*='" + subname + "']").css("display", display);
        if (subname == "") {
            $('.' + selectClass).css("display", display);
        }
    }

    function disableSubmission() {
        $('[type=submit]').prop('disabled', true);
        $('[type=submit]').removeAttr('type');
    }
</script>

</body>
</html>

