<%- include('components/header.ejs')%>
<%- include('components/nav.ejs') %>

<body role="document">
<div class="container" role="main">

    <ol class="breadcrumb">
        <li><a href="/">Clusters</a></li>
        <li><a href="/clusters/<%= clustername %>"><%= clustername %></a></li>
        <li class="active">Topics</li>
    </ol>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Operations</h4></div>
            <table class="table">
                <tr>
                    <td>
                        <a href="/clusters/test/assignments/confirm" class="submit-button btn btn-primary"
                           role="button">Generate Partition Assignments</a>
                    </td>
                    <td>
                        <a href="/clusters/test/assignments/run" class="submit-button btn btn-primary" role="button">Run
                            Partition Assignments</a>
                    </td>

                    <td>
                        <a href="/clusters/test/topics/addPartitions" class="submit-button btn btn-primary"
                           role="button">Add Partitions</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Topics</h3></div>
            <table class="table" id="topics-table">
                <thead>
                <tr>
                    <th>Topic</th>
                    <th># Partitions</th>
                    <th># Brokers</th>
                    <th>Brokers Spread %</th>
                    <th>Brokers Skew %</th>
                    <th># Replicas</th>
                    <th>Under Replicated %</th>
                    <th>Producer Message/Sec</th>
                    <th>Summed Recent Offsets</th>
                    <th>Leader Size</th>
                </tr>
                </thead>
                <tbody>

                <!--Dynamic data-->
                <% for(var i = 0; i < topicList.length ; i++) { %>
                <tr class="

">
                    <td class="

"><a href="/clusters/<%= clustername %>/topics/<%= topicList[i].name %>"><%= topicList[i].name %></a></td>
                    <td><%= topicList[i].partitions %></td>
                    <td><%= topicList[i].t_brokers %></td>
                    <% var b_spr_class = ''
                        if (50 < topicList[i].brokerSpread && topicList[i].brokerSpread < 100) b_spr_class = 'warning'
                        else if (topicList[i].brokerSpread <= 50) b_spr_class = 'danger'
                    %>
                    <td class="
                    <%= b_spr_class %>
"><%= topicList[i].brokerSpread %></td>
                    <% var b_sk_class = ''
                        if (0 < topicList[i].brokerSkewed && topicList[i].brokerSkewed < 50) b_sk_class = 'warning'
                        else if (topicList[i].brokerSkewed >= 50) b_sk_class = 'danger'
                    %>
                    <td class="
                    <%= b_sk_class %>
"><%= topicList[i].brokerSkewed %></td>
                    <td><%= topicList[i].replicas %></td>
                    <% var u_rpl_class = ''
                        if (0 < topicList[i].unserReplicated && topicList[i].unserReplicated < 50) u_rpl_class = 'warning'
                        else if (topicList[i].unserReplicated >= 50) u_rpl_class = 'danger'
                    %>
                    <td class="
                    <%= u_rpl_class %>
"><%= topicList[i].unserReplicated %></td>
                    <td><%= topicList[i].producerMsg.toFixed(2) %></td>
                    <td><%= topicList[i].offset %></td>
                    <td><%= topicList[i].leaderSize %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('components/footer.ejs')%>

<script type="text/javascript">
    $(document).ready(function () {
        $('#topics-table').DataTable();
    });
</script>

</body>
</html>

