<%- include('components/header.ejs')%>
<%- include('components/nav.ejs')%>

<body role="document">
<div class="container" role="main">

    <ol class="breadcrumb">

        <li><a href="/">Clusters</a></li>

        <li><a href="/clusters/<%= clustername %>"><%= clustername %></a></li>

        <li><a href="/clusters/<%= clustername %>/topics">Topics</a></li>

        <li class="active"><%= topicdetails.topicSummary.name %></li>

    </ol>

    <div class="col-md-12 un-pad-me">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <button type="button" class="btn btn-link" onclick="goBack()"><span
                                class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button><%= topicdetails.topicSummary.name %></h3>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Topic Summary</h4></div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Replication</td>
                                <td><%= topicdetails.topicSummary.replicas %></td>
                            <tr>
                                <td>Number of Partitions</td>
                                <td><%= topicdetails.topicSummary.partitions %></td>
                            </tr>
                            <tr>
                                <td>Sum of partition offsets</td>
                                <td><%= topicdetails.offset %></td>
                            </tr>
                            <tr>
                                <td>Total number of Brokers</td>
                                <td><%= topicdetails.topicSummary.brokers %></td>
                            </tr>
                            <tr>
                                <td>Number of Brokers for Topic</td>
                                <td><%= topicdetails.topicSummary.t_brokers %></td>
                            </tr>
                            <tr>
                                <td>Preferred Replicas %</td>
                                <%var pr_r_class =''
                                    if(50<topicdetails.topicSummary.prefferedReplicas&&topicdetails.topicSummary.prefferedReplicas<100) pr_r_class='warning'
                                    else if (topicdetails.topicSummary.prefferedReplicas<=50) pr_r_class='danger'
                                %>
                                <td class="
                                <%=pr_r_class%>
">
                                    <%= topicdetails.topicSummary.prefferedReplicas %>
                                </td>
                            </tr>
                            <tr>
                                <td>Brokers Skewed %</td>
                                <%var b_sk_class =''
                                    if(0<topicdetails.topicSummary.brokerSkewed&&topicdetails.topicSummary.brokerSkewed<50) b_sk_class='warning'
                                    else if (topicdetails.topicSummary.brokerSkewed>=50) b_sk_class='danger'
                                %>
                                <td class="
                                <%=b_sk_class%>
">
                                    <%= topicdetails.topicSummary.brokerSkewed %>
                                </td>
                            </tr>
                            <tr>
                                <td>Brokers Spread %</td>
                                <%var b_spr_class =''
                                    if(50<topicdetails.topicSummary.brokerSpread&&topicdetails.topicSummary.brokerSpread<100) b_spr_class='warning'
                                    else if (topicdetails.topicSummary.brokerSpread<=50) b_spr_class='danger'
                                %>
                                <td class="
                                <%=b_spr_class%>
">
                                    <%= topicdetails.topicSummary.brokerSpread %>
                                </td>
                            </tr>
                            <tr>
                                <td>Under-replicated %</td>
                                <%var u_rpli_class =''
                                    if(0<topicdetails.under_replicated&&topicdetails.under_replicated<50) u_rpli_class='warning'
                                    else if (topicdetails.under_replicated>=50) u_rpli_class='danger'
                                %>
                                <td class="
                                <%=u_rpli_class%>
">
                                    <%=topicdetails.under_replicated%>
                                </td>
                            </tr>

                            <tr>
                                <td>Leader Size</td>
                                <td>
                                    <%= topicdetails.topicSummary.leaderSize %>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Metrics</h4></div>


                        <table class="table">
                            <thead>
                            <tr>
                                <th>Rate</th>
                                <th>Mean</th>
                                <th>1&nbsp;min</th>
                                <th>5&nbsp;min</th>
                                <th>15&nbsp;min</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Messages in /sec</td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.MessagesInPerSec[0].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.MessagesInPerSec[1].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.MessagesInPerSec[2].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.MessagesInPerSec[3].toFixed(2) %></span>
                                </td>
                            <tr>
                            <tr>
                                <td>Bytes in /sec</td>
                                <td>
                                    <% var b_in_mean = '' %>
                                    <% if (topicdetails.metrics.BytesInPerSec[0] < 1000) b_in_mean = topicdetails.metrics.BytesInPerSec[0].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesInPerSec[0] >= 1000) b_in_mean = (topicdetails.metrics.BytesInPerSec[0] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_in_mean %></span>
                                </td>
                                <td>
                                    <% var b_in_1 = '' %>
                                    <% if (topicdetails.metrics.BytesInPerSec[1] < 1000) b_in_1 = topicdetails.metrics.BytesInPerSec[1].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesInPerSec[1] >= 1000) b_in_1 = (topicdetails.metrics.BytesInPerSec[1] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_in_1 %></span>
                                </td>
                                <td>
                                    <% var b_in_10 = '' %>
                                    <% if (topicdetails.metrics.BytesInPerSec[2] < 1000) b_in_10 = topicdetails.metrics.BytesInPerSec[2].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesInPerSec[2] >= 1000) b_in_10 = (topicdetails.metrics.BytesInPerSec[2] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_in_10 %></span>
                                </td>
                                <td>
                                    <% var b_in_15 = '' %>
                                    <% if (topicdetails.metrics.BytesInPerSec[3] < 1000) b_in_15 = topicdetails.metrics.BytesInPerSec[3].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesInPerSec[3] >= 1000) b_in_15 = (topicdetails.metrics.BytesInPerSec[3] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_in_15 %></span>
                                </td>
                            <tr>
                            <tr>
                                <td>Bytes out /sec</td>
                                <td>
                                    <% var b_out_mean = '' %>
                                    <% if (topicdetails.metrics.BytesOutPerSec[0] < 1000) b_out_mean = topicdetails.metrics.BytesOutPerSec[0].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesOutPerSec[0] >= 1000) b_out_mean = (topicdetails.metrics.BytesOutPerSec[0] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_out_mean %></span>
                                </td>
                                <td>
                                    <% var b_out_1 = '' %>
                                    <% if (topicdetails.metrics.BytesOutPerSec[1] < 1000) b_out_1 = topicdetails.metrics.BytesOutPerSec[1].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesOutPerSec[1] >= 1000) b_out_1 = (topicdetails.metrics.BytesOutPerSec[1] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_out_1 %></span>
                                </td>
                                <td>
                                    <% var b_out_10 = '' %>
                                    <% if (topicdetails.metrics.BytesOutPerSec[2] < 1000) b_out_10 = topicdetails.metrics.BytesOutPerSec[2].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesOutPerSec[2] >= 1000) b_out_10 = (topicdetails.metrics.BytesOutPerSec[2] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_out_10 %></span>
                                </td>
                                <td>
                                    <% var b_out_15 = '' %>
                                    <% if (topicdetails.metrics.BytesOutPerSec[3] < 1000) b_out_15 = topicdetails.metrics.BytesOutPerSec[3].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesOutPerSec[3] >= 1000) b_out_15 = (topicdetails.metrics.BytesOutPerSec[3] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_out_15 %></span>
                                </td>
                            <tr>
                            <tr>
                                <td>Bytes rejected /sec</td>
                                <td>
                                    <% var b_rejct_mean = '' %>
                                    <% if (topicdetails.metrics.BytesRejectedPerSec[0] < 1000) b_rejct_mean = topicdetails.metrics.BytesRejectedPerSec[0].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesRejectedPerSec[0] >= 1000) b_rejct_mean = (topicdetails.metrics.BytesRejectedPerSec[0] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_rejct_mean %></span>
                                </td>
                                <td>
                                    <% var b_rejct_1 = '' %>
                                    <% if (topicdetails.metrics.BytesRejectedPerSec[1] < 1000) b_rejct_1 = topicdetails.metrics.BytesRejectedPerSec[1].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesRejectedPerSec[1] >= 1000) b_rejct_1 = (topicdetails.metrics.BytesRejectedPerSec[1] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_rejct_1 %></span>
                                </td>
                                <td>
                                    <% var b_rejct_10 = '' %>
                                    <% if (topicdetails.metrics.BytesRejectedPerSec[2] < 1000) b_rejct_10 = topicdetails.metrics.BytesRejectedPerSec[2].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesRejectedPerSec[2] >= 1000) b_rejct_10 = (topicdetails.metrics.BytesRejectedPerSec[2] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_rejct_10 %></span>
                                </td>
                                <td>
                                    <% var b_rejct_15 = '' %>
                                    <% if (topicdetails.metrics.BytesRejectedPerSec[3] < 1000) b_rejct_15 = topicdetails.metrics.BytesRejectedPerSec[3].toFixed(2) %>
                                    <% if (topicdetails.metrics.BytesRejectedPerSec[3] >= 1000) b_rejct_15 = (topicdetails.metrics.BytesRejectedPerSec[3] / 1000).toFixed(1) + 'k' %>
                                    <span class="badge"><%= b_rejct_15 %></span>
                                </td>
                            <tr>
                            <tr>
                                <td>Failed fetch request /sec</td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.FailedFetchRequestsPerSec[0].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.FailedFetchRequestsPerSec[1].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.FailedFetchRequestsPerSec[2].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.FailedFetchRequestsPerSec[3].toFixed(2) %></span>
                                </td>
                            <tr>
                            <tr>
                                <td>Failed produce request /sec</td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.FailedProduceRequestsPerSec[0].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.FailedProduceRequestsPerSec[1].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.FailedProduceRequestsPerSec[2].toFixed(2) %></span>
                                </td>
                                <td>
                                    <span class="badge"><%= topicdetails.metrics.FailedProduceRequestsPerSec[3].toFixed(2) %></span>
                                </td>
                            <tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-md-7">

                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Operations</h4></div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="/clusters/test/topics/test/confirm_delete"
                                       class='btn btn-primary btn-block'>Delete Topic</a>
                                </td>
                                <td>

                                    <form action="/clusters/test/assignment?t=test" method="POST" class="form-vertical "
                                          role="form">

                                        <fieldset>
                                            <input type="hidden" name="operation" value="run">
                                            <input type="hidden" name="brokers" value="">

                                            <div class="form-group  ">
                                                <button type="submit" class="btn btn-primary btn-block"> Reassign
                                                    Partitions
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </td>
                                <td>
                                    <a href="/clusters/test/assignment/confirm?t=test"
                                       class="submit-button btn btn-primary" role="button">Generate Partition
                                        Assignments</a>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <a href="/clusters/test/topics/test/addPartitions"
                                       class="submit-button btn btn-primary" role="button">Add Partitions</a>
                                </td>
                                <td>
                                    <a href="/clusters/test/topics/test/updateConfig"
                                       class="submit-button btn btn-primary" role="button">Update Config</a>
                                </td>

                                <td>
                                    <a href="/clusters/test/topics/test/assignments/manual"
                                       class="submit-button btn btn-primary" role="button">Manual Partition
                                        Assignments</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Partitions by Broker</h4></div>
                        <table class="table" style="table-layout: fixed; width: 100%">
                            <thead>
                            <tr>
                                <th>Broker</th>
                                <th># of Partitions</th>
                                <th>Partitions</th>
                                <th>Skewed?</th>
                            </tr>
                            </thead>
                            <tbody>

                            <% for (var i = 0; i < topicdetails.topicSummary.t_brokers; i++) { %>
                            <tr>
                                <td>
                                    <a href="/clusters/<%=clustername%>/brokers/<%= topicdetails.topicSummary.broker_list[i].broker %>"><%= topicdetails.topicSummary.broker_list[i].broker %></a>
                                </td>
                                <td><%= topicdetails.topicSummary.broker_list[i].partitions %></td>
                                <td style="word-wrap: break-word"><%= topicdetails.topicSummary.broker_list[i].list %></td>
                                <% var skewed = (topicdetails.topicSummary.brokerSkewed != 0) %>
                                <td class="
">
                                    <%= skewed %>
                                </td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Consumers consuming from this topic</h4></div>

                        <table class="table">
                            <tbody>
                            <% for (var connum = 0; connum < consumers.length; connum++) { %>
                            <tr>
                                <td><a href="/clusters/<%=clustername%>/consumers/<%=consumers[connum]%>/topic/<%=topic_name%>/type/ZK"><%=consumers[connum]%></a></td>
                                <td>type 待定</td>
                            </tr>
                            <% } %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Partition Information</h4></div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Partition</th>
                                <th>Latest Offset</th>
                                <th>Leader</th>
                                <th>Replicas</th>
                                <th>In Sync Replicas</th>
                                <th>Preferred Leader?</th>
                                <th>Under Replicated?</th>

                                <th>Leader Size</th>
                            </tr>
                            </thead>
                            <tbody>

                            <% for(var i = topicdetails.topicSummary.partitions_list.length - 1; i >= 0 ; i--) { %>
                            <tr>
                                <td><%= topicdetails.topicSummary.partitions_list[i].parition_id %></td>

                                <% var p_offset = 0
                                    for (var j = 0; j < topicdetails.logPartition_arr.length; j++) {
                                        if (topicdetails.logPartition_arr[j].partition == topicdetails.topicSummary.partitions_list[i].parition_id) {
                                            p_offset = topicdetails.logPartition_arr[j].end_offset
                                        }
                                    }
                                %>
                                <td><%= p_offset %></td>

                                <td class="
">
                                    <a href="/clusters/<%=clustername%>/brokers/<%= topicdetails.topicSummary.partitions_list[i].leader %>"><%= topicdetails.topicSummary.partitions_list[i].leader %></a>
                                </td>
                                <td style="word-wrap: break-word"><%= topicdetails.topicSummary.partitions_list[i].replica_list %></td>


                                <td style="word-wrap: break-word"><%= topicdetails.topicSummary.partitions_list[i].isr_list %></td>
                                <%var pr_l_class =''
                                    if(topicdetails.topicSummary.partitions_list[i].prefferedLeader==false) pr_l_class='warning'
                                %>
                                <td class="
                                <%=pr_l_class%>
">
                                    <%= topicdetails.topicSummary.partitions_list[i].prefferedLeader %>
                                </td>
                                <% var u_r_flag = false
                                    for (var j = 0; j < topicdetails.underReplicated_arr.length; j++) {
                                        if (topicdetails.underReplicated_arr[j].partition == topicdetails.topicSummary.partitions_list[i].parition_id) {
                                            if (topicdetails.underReplicated_arr[j].under_replicated) u_r_flag = true
                                        }
                                    }
                                    var u_r_class =''
                                    if(topicdetails.topicSummary.partitions_list[i].prefferedLeader==true) u_r_class='warning'

                                %>
                                <td class="
                                <%=u_r_class%>
">
                                    <%=u_r_flag%>
                                </td>

                                <td><%= topicdetails.topicSummary.leaderSize %></td>

                            </tr>
                            <% } %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<%- include('components/footer.ejs')%>

</body>
</html>